obj/
.vs/
bin/
RestartPlexWPF/bin/
RestartPlexWPF/obj/
RestartPlexWPF/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
RestartPlexWPF/obj/Debug/RestartPlexWPF_MarkupCompile.lref
RestartPlexWPF/obj/Debug/RestartPlexWPF_MarkupCompile.cache
RestartPlexWPF/obj/Debug/RestartPlexWPF.Properties.Resources.resources
RestartPlexWPF/obj/Debug/RestartPlexWPF.pdb
RestartPlexWPF/obj/Debug/RestartPlexWPF.g.resources
RestartPlexWPF/obj/Debug/RestartPlexWPF.exe
RestartPlexWPF/obj/Debug/RestartPlexWPF.csprojAssemblyReference.cache
RestartPlexWPF/obj/Debug/RestartPlexWPF.csproj.GenerateResource.cache
RestartPlexWPF/obj/Debug/RestartPlexWPF.csproj.FileListAbsolute.txt
RestartPlexWPF/obj/Debug/RestartPlexWPF.csproj.CoreCompileInputs.cache
RestartPlexWPF/obj/Debug/MainWindow.g.i.cs
RestartPlexWPF/obj/Debug/MainWindow.g.cs
RestartPlexWPF/obj/Debug/MainWindow.baml
RestartPlexWPF/obj/Debug/App.g.i.cs
RestartPlexWPF/obj/Debug/App.g.cs
RestartPlexWPF/bin/Debug/RestartPlexWPF.pdb
RestartPlexWPF/bin/Debug/RestartPlexWPF.exe.config
RestartPlexWPF/bin/Debug/RestartPlexWPF.exe
.vs/RestartPlexWPF/v15/Server/sqlite3/storage.ide-wal
.vs/RestartPlexWPF/v15/Server/sqlite3/storage.ide-shm
.vs/RestartPlexWPF/v15/Server/sqlite3/storage.ide
.vs/RestartPlexWPF/v15/Server/sqlite3/db.lock
.vs/RestartPlexWPF/v15/.suo
